*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    
   
    background:#0e0e0e url('../img/bg2.jpg') center no-repeat;
    background-attachment: fixed;

    background-size: 60% 80%;
  
   
}

#logo{
    position:relative;
    top:80px;
    display:flex;
    justify-content:center;
   
}



nav  {
    width:100%;
    position: relative;
    top:23rem;
   display:flex;
   justify-content:center;
   align-items:center;   
    
}
nav a {
    margin-left:5px;
}



    
   
   
   
    







