
@font-face {
    font-family: 'in_your_face_joffrey_medium';
    src: url('../fonts/in_your_face_joffrey-webfont.woff2') format('woff2'),
         url('../fonts/in_your_face_joffrey-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'in_your_face_joffrey_medium' ;
    color:white;
}
body{
    
   
    background:#0e0e0e url('../img/bg2.jpg') center no-repeat;
    background-attachment: fixed;

    background-size: 60% 80%;
  
   
}

#logo{
    position:relative;
    top:80px;
    display:flex;
    justify-content:center;
   
}

#texto {
  
    display:flex;
    justify-content:center;
    align-items:center;   
     

}
.grande{
    margin-left:20px;
    font-size:65px;
    
}
.menor{
    
        margin-left:20px;
        font-size:35px;
        
    
}
#texto p {
    cursor:pointer;
    position:relative;
    top:240px;
   text-align: center;
    display:block;
    width:160px;  
    height:65px;
    border:solid 4px white;
    border-radius:10px;

     
}
#texto p.menor{
 margin-top:15px;
    height:40px;
    border:solid 4px white;

}


nav  {
    width:100%;
    position: relative;
    top:15rem;
   display:flex;
   justify-content:center;
   align-items:center;   
    
}
nav a {
    margin-left:5px;
}



    
   
   
   
    







